body {
    height: 1.5rem;
    margin-top: 19%;
    justify-content: center;
    align-content: center;
    display: flex;
}

.square, .rectangle, .circle {
    background-color: black;
}

.square {
    height: 150px;
    width: 150px;
}

.rectangle {
    height: 150px;
    width: 300px;
}

.circle {
    border-radius: 50%;

    height: 150px;
    width: 150px;
}